body, html{
    height: 100%;
    overflow-x: hidden;
    font-family: Roboto;
}
.container-log-reg{
    background-color: #c0dcc6;
}
.limiter{
    width: 960px;
    background-color: #ffffff;
    border-radius: 3%;
    box-shadow: 1px 1px 30px #1b1e21;
}

.image-block{
    background: url("../../img/log-reg-form/form-image.jpg") center / cover no-repeat;
    border-radius: 0 3% 3% 0;
}

.brand_name{
    font-family: 'Modak', cursive;
    font-size: 3rem;
}

.nav-element .nav-link{
    font-family: 'Pacifico', cursive;
    color: #8fd19e;
}

.nav-element .nav-link.active,
.nav-element .nav-link:hover{
    color: #1b1e21;
}

.form-input{
    border-radius: 20px;
    border: 2px solid #000000;
    box-shadow: 0 0 0 0 transparent;
    transition: 0.4s;
    font-weight: 600;
}
.form-input:focus{
    box-shadow: 0 0 7px 0.1rem #8fd19e;
}
.form-input:valid{
    box-shadow: 0 0 7px 0.1rem #8fd19e;
    border-color: #1c7430;
    background: #b2ffa7;
}
.form-input:valid+.form-text{
    color: green!important;
}
.form-text.error{
    color: red;
}

.btn-form{
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #DC3545;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btn-form:hover{
    background-color: #ff3f53;
    border-color: #2a2a2a;
}
.btn-form:active{
    background-color: #99232f;
    box-shadow: inset 0 0 0 0.2rem;
}

.reg-pane,
.auth-pane{
    min-height: 400px;
}

.custom-control-input~.custom-control-indicator{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.15rem;
}
.custom-control-input~.form-checkbox-indicator{
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #000000;
    border-radius: 0.4rem;
    box-shadow: 0 0 0 0.2rem transparent;
    transition: 0.3s;
}
.custom-control-input:checked~.form-checkbox-indicator{
    background-color: #8fd19e;
    background-image: url("../../img/log-reg-form/svg/check.svg");
    background-size: 16px 16px;
}
.custom-control-input~.form-checkbox-description{
    font-size: 1rem;
    font-weight: 800;
}
